*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;



}
.outer{
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #f1f1f1;
    
 
}
.container{
    width: 90%;
    height: auto;
    background-color: white;
    margin: 0px 63px;
    box-shadow: 0 5px 20px rgba(#000,0.5);
    
    

}
.header{
    width: 100%;
    height: auto;    
}